* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.copy > svg {
  margin-right: 2px;
}

#result {
  margin: 10px 0px;
  font-size: 1.2em;
  font-weight: 300;
}

.howItWorks > .question {
  font-weight: bold;
}

.answer {
  display: none;
}
.show {
  display: block;
}
